@model BankOfSimba.ViewModels.HomeIndexViewModel

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The Bank Of Simba</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        Name: @Model.BankAcc.Name, Balance: @Model.BankAcc.Balance, AnimalType: @Model.BankAcc.AnimalType 
    </p>
</body>
</html>