
@{
    ViewData["Title"] = "PetiIndex";
}

<h2>Give me a pokemon my friend</h2>
<form action="/peti" method="post">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="type" placeholder="Type" />
    <input type="int" name="level" placeholder="Level" />
</form>
