<form action="/AddPost" method="post">
    <input type="text" name="title" placeholder="title of post"/>
    <input type="text" name="url" placeholder="URL of post"/>
    <button type="submit" name="submit">Add Post</button>
</form>