@{
    ViewData["Title"] = "Index";
}

<h2>My Site</h2>

    <form action="/" method="post">
        <label for="name"></label>
        <input type="text" name="name" value="name" />
        <button type="submit" value="submit">Submit</button>
    </form>

