
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is not my main page</h2>
<p>your anagramm my good sir</p>
<p></p>
<form action="/" method="get">
    <button type="submit" value="submit">Click me if u wanna do me all over again</button>
</form>
