
@{
    ViewData["Title"] = "Index";
}

<h2>This is the main page</h2>

<form action="/" method="post">
    <h2>If you don't know any character create a new one below</h2>
    <label>Give a name to your character:</label>
    <input type="text" name="name"/>
    <button type="submit" name="submit_create">Create character</button>
</form>

<form action="/" method="post">
    <h2>Play with existing character</h2>
    <button type="submit" name="submit_login">Login</button>
</form>


