
@{
    ViewData["Title"] = "Login";
}

<h2>Here you can LOGIN, please in your character's name:</h2>
<form action="/login" method="post">
    <input type="text" name="name" placeholder="character name" />
    <button type="submit" name="submit_loginname">LOGIN</button>
</form>

