<form action="/show" method="get"><button type="submit">Information</button></form>
<form action="/nutritionStore" method="get"><button type="submit">Nutrition Store</button></form>
<form action="/trickCenter" method="get"><button type="submit">Trick Center</button></form>
<form action="/actionHistory" method="get"><button type="submit">Action History</button></form>
<form action="/" method="get"><button type="submit">RETURN TO HOME</button></form>