
@{
    ViewData["Title"] = "ShowChar";
}

<h2>I am showing u the character</h2>
<form action="/show" method="post">
    <button type="submit" name="submit_returnmain">RETURN TO HOME</button>
</form>

